{{ template "en_base" . }}

{{ define "title" }}Credits{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>Credits</h1>
    </div>
    <div class="col-2">
        <a role="button" class="btn btn-outline-primary float-end" href="../zh/credits.html">zh</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>BRC Project Staff</h2>
        <ul>
            <li>Dory Klein, Project Co-Director</li>
            <li>Amanda Rust, Project Co-Director</li>
            <li>Giordana Mecagni, Community Outreach Advisor</li>
            <li>Amy Ruskin, Data Engineer</li>
            <li>Patrick Murray-John, CERES Developer</li>
            <li>Sarah Sweeney, Materials Cataloging and Ingest</li>
            <li>Drew Facklam, Materials Cataloging and Ingest</li>
            <li>Kim Kennedy, Materials Cataloging and Ingest</li>
            <li>Raghunath Arava, Leaflet Developer</li>
        </ul>
        <h2>Research Associates</h2>
        <ul>
            <li>Michael Kitchen </li>
            <li>Danielle Rose</li>
            <li>Jillian Decker</li>
            <li>Kimberly Villafuerte Barzola </li>
            <li>Liam Moore</li>  
            <li>Taryn Gilligan</li>
            <li>Ayah Aboelela</li>
            <li>Sofia Perez Arias</li>
            <li>Mara McDaniel</li>
            <li>Urmi Parekh</li>
        </ul>
        <h2>Community Advisors</h2>
        <p>This project would not have happened without the direction and insight of our community advisors. We'd like to extend our warm thanks to:</p>
        <ul>
            <li>Brianna Allen</li>
            <li>Heang Rubin</li>
            <li>Stephanie Fan</li>
            <li>Alice Kane</li>
            <li>Esther Lee</li>
            <li>Wilson Lee</li>
            <li>Dr. Michael Liu</li>
            <li>Diane O'Donoghue</li>
            <li>Yan Wang</li>
            <li>Boston Chinatown Neighborhood Center</li>
            <li>Pao Arts Center</li>
            <li>Chinese Historical Society of New England</li>
            <li>Chinatown Community Land Trust</li>
            <li>Chinatown Branch of the Boston Public Library</li>
            <li>Friends of the Chinatown Library</li>
        </ul>
        <h2>Principal Investigators</h2>
        <li>Dan Cohen</li>
        <li>Julia Flanders</li>
        <li>Patrick Yott</li>
        <br>
        <h2>Copyright and Licensing</h2>
        <p>
            Northeastern University holds the copyright for some, but not all, of the texts and photographs exhibited on this site. Please contact the Archives and Special Collections Department at <a href="mailto:archives@northeastern.edu">archives@northeastern.edu</a> to obtain reproductions of the materials and to inquire about copyright.
        </p>
    </div>
</div>

{{ end }}