{{ template "en_base" . }}

{{ define "title" }}Chinatown History Directory{{ end }}

{{ define "content" }}

<div class="row">
    <div class="col-10">
        <h1>Chinatown History Directory</h1>
    </div>
    <div class="col-2">
        <a role="button" class="btn btn-outline-primary float-end" href="../zh/index.html">zh</a>    
    </div>
</div>
<div class="row">
    <div class="col">
        <p>An index of sources on Boston's Chinatown</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li><a href="./collections.html">Collections</a></li>
            <li><a href="./organizations.html">Organizations</a></li>
            <li><a href="./people.html">People</a></li>
        </ul>
        <br/>
        <ul>
            <li><a href="./maintainers.html">Browse collections by maintainer</a></li>
            <li><a href="./subjects.html">Browse collections by subject</a></li>
            <li><a href="./materials.html">Browse collections by general records type</a></li>
        </ul>
    </div>
</div>


{{ end }}
