{{ template "en_base" . }}

{{ define "title" }}Chinatown History Directory{{ end }}

{{ define "content" }}

<div class="row">
    <div class="col-10">
        <h1>Chinatown History Directory</h1>
    </div>
    <div class="col-2">
        <a role="button" class="btn btn-outline-primary float-end" href="../zh/index.html">zh</a>    
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="lead">An index of sources on Boston's Chinatown</p>
    </div>
</div>
<div class="row">
<div class="col">
    <p>
        Boston's Chinatown is home to many community-oriented cultural and activist organizations. These organizations, along with many longtime neighborhood residents, hold a wealth of historical collections of photographs, newsletters, flyers, recorded interviews, maps, meeting minutes, and more. In addition, many area libraries, archives, and museums host collections pertaining to Chinatown's history. In collaboration with Chinatown community partners, this website aims to document archival collections drawn from a diverse range of sources.
    </p>
    <p>
        This directory is intended as a launching point for neighborhood research, presenting indexes of these collections and the individuals and organizations connected to them.
    </p>
</div>
</div>
<div class="row">
    <div class="col">
        <h2>Indexes by entity type</h2>
        <h3><a href="./collections.html">Collections</a></h3>
        <p>Archival collections, websites, and personal collections</p>
        <h3><a href="./organizations.html">Organizations</a></h3>
        <p>Groups or institutions connected to the collections as maintainers, donors, or creators</p>
        <h3><a href="./people.html">People</a></h3>
        <p>Individuals connected to the collections as maintainers, donors, or creators</p>
        <br/>
        <h2>Browse collections by...</h2>
        <h3><a href="./maintainers.html">Maintainers</a></h3>
        <p>People or organizations responsible for hosting and managing the collection</p>
        <h3><a href="./subjects.html">Subjects</a></h3>
        <p>Topics covered in the collection materials</p>
        <h3><a href="./materials.html">Material types</a></h3>
        <p>Types and formats of records included in the collection</p>
    </div>
</div>


{{ end }}
