{{ template "en_base" . }}
{{ define "title" }}Browse collections by material types{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>Browse collections by material types</h1>
    </div>
    <div class="col-2">
        <a role="button" class="btn btn-outline-primary float-end" href="../zh/materials.html">zh</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            The collections documented in this database contain a wide variety of materials. In many cases more than one material type will appear in a given collection.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ range . }}
        <h2>{{ .materialLabel }}</h2>
        {{ include "generic/includes_details.html" (query "en/collections-by-material.rq" .qid.String) }}
        {{ end }}
    </div>
</div>
{{ end }}