{{if eq .langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ .collectionLabel}}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ .collectionLabel }}</h1>
    </div>
    <div class="col-2">
        {{ if eq .langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/{{ .qid }}.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/{{ .qid }}.html">en</a>
        {{ end }}
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{ .description }}</p>
        <dl>
            <div class="row">
                <dt class="col-sm-3">{{ .generalRecordsPropLabel }}</dt>
                <dd class="col-sm-9">{{ .generalRecordsTypes }}</dd>
                <dt class="col-sm-3">{{ .specificRecordsPropLabel }}</dt>
                <dd class="col-sm-9">{{ .specificRecordsTypes }}</dd>
                <dt class="col-sm-3">{{ .materialsStartPropLabel }}</dt>
                <dd class="col-sm-9">{{ .materialsStartYear }}</dd>
                <dt class="col-sm-3">{{ .materialsEndPropLabel }}</dt>
                <dd class="col-sm-9">{{ .materialsEndYear }}</dd>
                <dt class="col-sm-3">{{ .subjectPropLabel }}</dt>
                <dd class="col-sm-9">{{ .subjects }}</dd>
                <dt class="col-sm-3">{{ .languagePropLabel }}</dt>
                <dd class="col-sm-9">{{ .languages }}</dd>
            </div>
            <br>
            <div class="row">
                <dt class="col-sm-3">{{ .officialWebsitePropLabel }}</dt>
                <dd class="col-sm-9"><a href="{{ .officialWebsite }}">{{ .officialWebsite }}</a></dd>
                <dt class="col-sm-3">{{ .describedAtURLPropLabel }}</dt>
                <dd class="col-sm-9"><a href="{{ .describedAtURL }}">{{ .describedAtURL }}</a></dd>
            </div>
            <br>
            <div class="row">
                <dt class="col-sm-3">{{ .collectionTypePropLabel }}</dt>
                <dd class="col-sm-9">{{ .collectionTypeLabel }}</dd>
                <dt class="col-sm-3">{{ .creatorPropLabel }}</dt>
                <dd class="col-sm-9">{{ safe_html .creators }}</dd>
                <dt class="col-sm-3">{{ .donorPropLabel }}</dt>
                <dd class="col-sm-9">{{ safe_html .donors }}</dd>
                <dt class="col-sm-3">{{ .maintainerPropLabel }}</dt>
                <dd class="col-sm-9">{{ safe_html .maintainers }}</dd>
                <dt class="col-sm-3">{{ .accessStatusPropLabel }}</dt>
                <dd class="col-sm-9">{{ .accessStatusLabel }}</dd>
                <dt class="col-sm-3">{{ .digitizationStatusPropLabel }}</dt>
                <dd class="col-sm-9">{{ .digitizationStatusLabel }}</dd>
                <dt class="col-sm-3">{{ .accessPolicyPropLabel }}</dt>
                <dd class="col-sm-9">{{ .accessPolicy }}</dd>
                <dt class="col-sm-3">{{ .projectStatusPropLabel }}</dt>
                <dd class="col-sm-9">{{ .projectStatus }}</dd>
                <dt class="col-sm-3">{{ .projectStartPropLabel }}</dt>
                <dd class="col-sm-9">{{ .projectStartYear }}</dd>
                <dt class="col-sm-3">{{ .projectEndPropLabel }}</dt>
                <dd class="col-sm-9">{{ .projectEndYear }}</dd>
            </div>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-6 mx-auto">
        <a role="button" class="btn btn-primary" href='./collections.html'>{{if eq .langCode.String "en" }}Collections{{ else }}馆藏{{ end }}</a>
    </div>
</div>
{{ end }}