{{if eq .langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ .organizationLabel }}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ .organizationLabel }}</h1>
    </div>
    <div class="col-2">
        {{ if eq .langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/{{ .qid }}.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/{{ .qid }}.html">en</a>
        {{ end }}
    </div>
</div>
<dl class="row">
    <dt class="col-sm-3">{{ .orgTypePropLabel }}</dt>
    <dd class="col-sm-9">{{ .orgTypeLabel }}</dd>
    <dt class="col-sm-3">{{ .inceptionPropLabel }}</dt>
    <dd class="col-sm-9">{{ .inceptionYear }}</dd>
    <dt class="col-sm-3">{{ .officialWebsitePropLabel }}</dt>
    <dd class="col-sm-9"><a href='{{ .officialWebsite}}' target="_blank">{{ .officialWebsite}}</a></dd>
    <dt class="col-sm-3">{{ .streetAddressPropLabel }}</dt>
    <dd class="col-sm-9">{{ .streetAddress }}</dd>
    <dt class="col-sm-3">{{ .phoneNumberPropLabel }}</dt>
    <dd class="col-sm-9">{{ .phoneNumber }}</dd>
    <dt class="col-sm-3">{{ .emailAddressPropLabel }}</dt>
    <dd class="col-sm-9"><a href='{{ .emailAddress }}'>{{ replace .emailAddress "mailto:" "" 1}}</a></dd>
</dl>
<div class="row">
    <div class="col-6 mx-auto">
        <a role="button" class="btn btn-primary" href='./organizations.html'>{{if eq .langCode.String "en" }}Organizations{{ else }}组织{{ end }}</a>
    </div>
</div>
{{ end }}