<footer class="footer mt-auto p-2 bg-light">
    <div class="container">
        <p>This is a project of the <a href="https://bostonresearchcenter.org/" target="_blank">Boston Research Center</a>, a digital community history and archives lab based at Northeastern Library, in partnership with the Boston Public Library.</p>
        <p>Questions or suggestions? Reach us at <a href="mailto:brc@northeastern.edu">brc@northeastern.edu</a>.
        <p><em>Funded in part by generous support from the Andrew W. Mellon Foundation and the National Endowment for the Humanities.</em></p>
    </div>
</footer>
