<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-2">
    <a class="navbar-brand" href="../zh/index.html">Chinatown History Directory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../zh/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../zh/about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Indexes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../zh/collections.html">馆藏</a>
              <a class="dropdown-item" href="../zh/organizations.html">组织</a>
              <a class="dropdown-item" href="../zh/people.html">民众</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Browse by...
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../zh/maintainers.html">维护者</a>
              <a class="dropdown-item" href="../zh/subjects.html">作品主题</a>
              <a class="dropdown-item" href="../zh/materials.html">一般记录类型</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../zh/credits.html">Credits</a>
          </li>
        </ul>
      </div>
    </nav>
</nav>