<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./index.html">[zh:Chinatown History Directory]</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./index.html">[zh:Home]</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">[zh:About]</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">[zh:Data Models]</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">[zh:Credits]</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              [zh:Indices]
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./collections.html">[zh:Collections]</a>
              <a class="dropdown-item" href="./organizations.html">[zh:Organizations]</a>
              <a class="dropdown-item" href="./people.html">[zh:People]</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</nav>