{{if eq (index . 0).langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ (index . 0).title}}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ (index . 0).title}}</h1>
    </div>
    <div class="col-2">
        {{ if eq (index . 0).langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/collections.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/collections.html">en</a>
        {{ end }}
    </div>
</div>
{{ if eq (index . 0).langCode.String "en" }}
<div class="row">
    <div class="col">
        <p>
            The types of collections listed here include archival collections, websites, and personal collections, and cover a variety of topics related to the Chinatown neighborhood and Boston's Chinese community. Listed below is a brief description of each collection and its contents, as well as its digitization status.
        </p>
    </div>
</div>
{{ end }}
<div class="row">
    <div class="col">
        <table class="table table-bordered table-sm display" id="collections-table">
            <thead>
                <tr>
                    <th>{{ (index . 0).collectionTitlePropLabel }}</th>
                    <th>{{ (index . 0).collectionTypePropLabel }}</th>
                    <th>{{ (index . 0).digitizationStatusPropLabel }}</th>
                    <th>{{ (index . 0).descriptionPropLabel }}</th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td class="w-20"><a href="./{{ .qid }}.html">{{ .collectionTitle }}</a></td>
                    <td class="w-15">{{ .collectionTypeLabel }}</td>
                    <td class="w-15">{{ .digitizationStatusLabel }}</td>
                    <td class="w-50">{{ .description }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}