{{if eq (index . 0).langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ (index . 0).title}}{{ end }}

{{ define "content" }}

<h1>{{ (index . 0).title}}</h1>
{{ if eq (index . 0).langCode.String "en" }}
    <a role="button" class="btn btn-outline-primary" href="../zh/collections.html">zh</a>
{{ else }}
    <a role="button" class="btn btn-outline-primary" href="../en/collections.html">en</a>
{{ end }}
<table>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    {{ range . }}
    <tr>
        <td><a href="./{{ .qid }}.html">{{ .collectionLabel }}</a></td>
        <td>{{ .collectionTypeLabel }}</td>
        <td>{{ .description }}</td>
    </tr>
    {{ end }}
</table>

{{ end }}