{{if eq (index . 0).langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ (index . 0).title}}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ (index . 0).title}}</h1>
    </div>
    <div class="col-2">
        {{ if eq (index . 0).langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/collections.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/collections.html">en</a>
        {{ end }}
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>{{ (index . 0).collectionTypePropLabel }}</th>
                    <th>{{ (index . 0).descriptionPropLabel }}</th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td class="w-25"><a href="./{{ .qid }}.html">{{ .collectionLabel }}</a></td>
                    <td class="w-25">{{ .collectionTypeLabel }}</td>
                    <td class="w-50">{{ .description }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}