{{ template "base" . }}

{{ define "title" }}Chinatown History Directory{{ end }}

{{ define "content" }}

<h1>Chinatown History Directory</h1>

<p>An index of sources on Boston's Chinatown</p>

<ul>
    <li><a href="./collections.html">Collections</a></li>
    <li><a href="./organizations.html">Organizations</a></li>
    <li><a href="./people.html">People</a></li>
</ul>
<br/>
<ul>
    <li><a href="./subjects.html">Browse collections by subject (en)</a></li>
    <li><a href="./materials.html">Browse collections by general records type (en)</a></li>
</ul>


<p><a href='../en/index.html'>en</a> | <a href='../zh/index.html'>zh</a></p>

{{ end }}
