{{ template "base" . }}

{{ define "title" }}Chinatown Collections{{ end }}

{{ define "content" }}

<h1>Chinatown Collections</h1>

<p>Prototype multilingual Wikibase frontend for Chinatown Collections survey results</p>

<h2><a href="en/collections.html">Collections Index (en)</a></h2>
<h2><a href="zh/collections.html">Collections Index (zh)</a></h2>
<h2><a href="en/organizations.html">Organizations Index (en)</a></h2>
<h2><a href="zh/organizations.html">Organizations Index (zh)</a></h2>
<h2><a href="en/people.html">People Index (en)</a></h2>
<h2><a href="zh/people.html">People Index (zh)</a></h2>


{{ end }}
