{{if eq (index . 0).langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ (index . 0).title}}{{ end }}

{{ define "content" }}
<h1>{{ (index . 0).title}}</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Street address</th>
    </tr>
    {{ range . }}
    <tr>
        <td><a href="./{{ .qid }}.html">{{ .organizationLabel }}</a></td>
        <td>{{ .orgTypeLabel }}</td>
        <td>{{ .streetAddress }}</td>
    </tr>
    {{ end }}
</table>

<p><a href='../en/organizations.html'>en</a> | <a href='../zh/organizations.html'>zh</a></p>

{{ end }}