{{if eq (index . 0).langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ (index . 0).title}}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ (index . 0).title}}</h1>
    </div>
    <div class="col-2">
        {{ if eq (index . 0).langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/organizations.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/organizations.html">en</a>
        {{ end }}
    </div>
</div>
<div class="row">
    <div class="col">
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>{{ (index . 0).orgTypePropLabel }}</th>
                <th>{{ (index . 0).streetAddressPropLabel }}</th>
            </tr>
        </thead>
        <tbody>        
            {{ range . }}
            <tr>
                <td><a href="./{{ .qid }}.html">{{ .organizationLabel }}</a></td>
                <td>{{ .orgTypeLabel }}</td>
                <td>{{ .streetAddress }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    </div>
</div>

{{ end }}