{{ template "base" . }}
{{ define "title" }}{{ .organizationLabel }}{{ end }}

{{ define "content" }}

<h1>{{ .organizationLabel }}</h1>
<p><span class="cc-field-name">{{ .orgTypePropLabel }}: </span>{{ .orgTypeLabel }}</p>
<p><span class="cc-field-name">{{ .inceptionPropLabel }}: </span>{{ .inceptionYear }}</p>
<p><span class="cc-field-name">{{ .officialWebsitePropLabel }}: </span><a href='{{ .officialWebsite}}'>{{ .officialWebsite}}</a></p>
<p><span class="cc-field-name">{{ .streetAddressPropLabel }}: </span>{{ .streetAddress }}</p>
<p><span class="cc-field-name">{{ .phoneNumberPropLabel }}: </span>{{ .phoneNumber }}</p>
<p><span class="cc-field-name">{{ .emailAddressPropLabel }}: </span><a href='{{ .emailAddress }}'>{{ .emailAddress }}</a></p>

<p><a href='./organizations.html'>Organization Index</a> | <a href='./index.html'>Home</a></p>

<p><a href='../en/{{ .qid }}.html'>en</a> | <a href='../zh/{{ .qid }}.html'>zh</a></p>

{{ end }}