{{if eq (index . 0).langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ (index . 0).title}}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ (index . 0).title}}</h1>
    </div>
    <div class="col-2">
        {{ if eq (index . 0).langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/people.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/people.html">en</a>
        {{ end }}
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            {{ range . }}
            <li><a href="./{{ .qid }}.html">{{ .personLabel }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}