{{if eq (index . 0).langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ (index . 0).title}}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ (index . 0).title}}</h1>
    </div>
    <div class="col-2">
        {{ if eq (index . 0).langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/people.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/people.html">en</a>
        {{ end }}
    </div>
</div>
{{ if eq (index . 0).langCode.String "en" }}
<div class="row">
    <div class="col">
        <p>
            The people listed below appear in this collections database in a variety of roles. Their relationship to the collection(s) may be seen by clicking on their name. Those listed as <strong>maintainer</strong> of a collection are the individuals responsible for hosting and managing that collection. Those listed as <strong>records creator</strong> were responsible for the aggregation or aggregate creation of the materials in the collection of the materials contained within the listed collection and in many cases are the subjects of that collection. Those listed as <strong>donor</strong> are the people who donated the listed collection to the organization or individual who currently maintains it. 
        </p>
    </div>
</div>
{{ end }}
<div class="row">
    <div class="col">
        <ul>
            {{ range . }}
            <li><a href="./{{ .qid }}.html">{{ .personLabel }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}