{{if eq (index . 0).langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ (index . 0).title}}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ (index . 0).title}}</h1>
    </div>
    <div class="col-2">
        {{ if eq (index . 0).langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/people.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/people.html">en</a>
        {{ end }}
    </div>
</div>
{{ if eq (index . 0).langCode.String "en" }}
<div class="row">
    <div class="col">
        <p>
            The people listed below appear in this collections database in a variety of roles. Their relationship to the collection(s) may be seen by clicking on their name. The term <strong>records creator</strong> refers to the people responsible for the aggregation or aggregate creation of the materials contained within the listed collection; in many cases, they are also the subjects of that collection. <strong>Maintainers</strong> of a collection are the individuals responsible for hosting and managing that collection. Those listed as <strong>donors</strong> are the people who donated the collection to the organization or individual who now maintains it.
        </p>
    </div>
</div>
{{ end }}
<div class="row">
    <div class="col">
        <table class="table table-bordered table-sm display" id="people-table">
            <thead>
                <tr>
                    <th>{{ (index . 0).namePropLabel }}</th>
                    <th>{{ (index . 0).creatorPropLabel }}</th>
                    <th>{{ (index . 0).maintainerPropLabel }}</th>
                    <th>{{ (index . 0).donorPropLabel }}</th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td class="w-50"><a href="./{{ .qid }}.html">{{ .personLabel }}</a></td>
                    <td class="w-15">{{ if ne .createdCollections.String "" }} &check; {{ end }}</td>
                    <td class="w-15">{{ if ne .maintainsCollections.String "" }} &check; {{ end }}</td>
                    <td class="w-15">{{ if ne .donatedCollections.String "" }} &check; {{ end }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}