{{if eq .langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ .personLabel }}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ .personLabel }}</h1>
    </div>
    <div class="col-2">
        {{ if eq .langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/{{ .qid }}.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/{{ .qid }}.html">en</a>
        {{ end }}
    </div>
</div>
<div class="row">
    <div class="col">
        <p><span class="cc-field-name">Collection creator of: </span>{{ safe_html .createdCollections }}</p>
        <p><span class="cc-field-name">Founder of: </span>{{ safe_html .foundedOrganizations }}</p>
        <p><span class="cc-field-name">Maintainer of: </span>{{ safe_html .maintainsCollections }}</p>        
    </div>
</div>
<div class="row">
    <div class="col-6 mx-auto">
        <a role="button" class="btn btn-primary" href='./people.html'>{{ .title }}</a>
    </div>
</div>
{{ end }}