{{if eq .langCode.String "en" }}{{ template "en_base" . }}{{ else }}{{ template "zh_base" . }}{{ end }}
{{ define "title" }}{{ .personLabel }}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>{{ .personLabel }}</h1>
    </div>
    <div class="col-2">
        {{ if eq .langCode.String "en" }}
            <a role="button" class="btn btn-outline-primary float-end" href="../zh/{{ .qid }}.html">zh</a>
        {{ else }}
            <a role="button" class="btn btn-outline-primary float-end" href="../en/{{ .qid }}.html">en</a>
        {{ end }}
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{ .personDescription }}</p>
    </div>
</div>
<dl>
    <div class="row">
        <dt class="col-sm-3">{{ .creatorPropLabel }}</dt>
        <dd class="col-sm-9">{{ safe_html .createdCollections }}</dd>
        <dt class="col-sm-3">{{ .maintainerPropLabel }}</dt>
        <dd class="col-sm-9">{{ safe_html .maintainsCollections }}</dd>
        <dt class="col-sm-3">{{ .donorPropLabel }}</dt>
        <dd class="col-sm-9">{{ safe_html .donatedCollections }}</dd>
    </div>
    <br>
    <div class="row">
        <dt class="col-sm-3">{{ .founderPropLabel }}</dt>
        <dd class="col-sm-9">{{ safe_html .foundedOrganizations }}</dd>
    </div>
    <br>
    <div class="row">
        <dt class="col-sm-3">{{ .officialWebsitePropLabel }}</dt>
        <dd class="col-sm-9"><a href='{{ .officialWebsite}}' target="_blank">{{ .officialWebsite }}</a></dd>
        <dt class="col-sm-3">{{ .emailAddressPropLabel }}</dt>
        <dd class="col-sm-9"><a href='{{ .emailAddress }}'>{{ replace .emailAddress "mailto:" "" 1}}</a></dd>
    </div>
</dl>
<div class="row">
    <div class="col-6 mx-auto">
        <a role="button" class="btn btn-primary" href='./people.html'>{{ .title }}</a>
    </div>
</div>
{{ end }}