{{ template "zh_base" . }}

{{ define "title" }}[zh:Credits]{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>[zh:Credits]</h1>
    </div>
    <div class="col-2">
        <a role="button" class="btn btn-outline-primary float-end" href="../en/credits.html">en</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>波士顿研究中心项目人员</h2>
        <ul>
            <li>Dory Klein, 项目联合总监</li>
            <li>Amanda Rust, 项目联合总监</li>
            <li>Giordana Mecagni, 社区外展顾问</li>
            <li>Amy Ruskin, 数据工程师</li>
            <li>Patrick Murray-John, CERES 开发人员</li>
            <li>Sarah Sweeney, 材料编目和引入</li>
            <li>Drew Facklam, 材料编目和引入</li>
            <li>Kim Kennedy, 材料编目和引入</li>
            <li>Raghunath Arava, 传单开发人员</li>
        </ul>
        <h2>研究人员</h2>
        <ul>
            <li>Michael Kitchen </li>
            <li>Danielle Rose</li>
            <li>Jillian Decker</li>
            <li>Kimberly Villafuerte Barzola </li>
            <li>Liam Moore</li>  
            <li>Taryn Gilligan</li>
            <li>Ayah Aboelela</li>
            <li>Sofia Perez Arias</li>
            <li>Mara McDaniel</li>
            <li>Urmi Parekh</li>
        </ul>
        <h2>社区顾问</h2>
        <p>如果没有社区顾问的指导和洞察力，这个项目就无法完成。我们衷心感谢：</p>
        <ul>
            <li>Brianna Allen</li>
            <li>Heang Rubin</li>
            <li>Stephanie Fan</li>
            <li>Alice Kane</li>
            <li>Esther Lee</li>
            <li>Wilson Lee</li>
            <li>Dr. Michael Liu</li>
            <li>Diane O'Donoghue</li>
            <li>Yan Wang</li>
            <li>波士顿华埠社区中心</li>
            <li>包氏艺术中心</li>
            <li>纽英伦华人历史协会</li>
            <li>华埠社区土地信托</li>
            <li>波士顿公共图书馆华埠分馆</li>
            <li>华埠图书馆之友</li>
        </ul>
        <h2>首席研究员</h2>
        <li>Dan Cohen</li>
        <li>Julia Flanders</li>
        <li>Patrick Yott</li>
        <br>
        <h2>版权和许可</h2>
        <p>
            东北大学拥有本网站上展示部分文字和照片的版权，但不是全部。欲获取材料复制品和洽询版权事宜，请电邮 <a href="mailto:archives@northeastern.edu">archives@northeastern.edu</a> 联系档案与特别收藏处。
        </p>
    </div>
</div>

{{ end }}