{{ template "zh_base" . }}
{{ define "title" }}按维护者浏览馆藏{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>按维护者浏览馆藏</h1>
    </div>
    <div class="col-2">
        <a role="button" class="btn btn-outline-primary float-end" href="../en/maintainers.html">en</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            术语“维护者”是指负责托管和管理馆藏的个人或组织。下面列出了这个数据库中各个馆藏的维护者，以及与之相连的馆藏。
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ range . }}
        <h2>{{ .maintainerLabel }}</h2>
        {{ include "includes_details.html" (query "zh/collections-by-maintainer.rq" .qid.String) }}
        {{ end }}
    </div>
</div>
{{ end }}