{{ template "zh_base" . }}
{{ define "title" }}按材料类别浏览馆藏{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-10">
        <h1>按材料类别浏览馆藏</h1>
    </div>
    <div class="col-2">
        <a role="button" class="btn btn-outline-primary float-end" href="../en/materials.html">en</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            这个数据库中记录的馆藏包含各种各样的材料。在许多情况下，一个给定馆藏中会出现不止一种材料类别。
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ range . }}
        <h2>{{ .materialLabel }}</h2>
        {{ include "generic/includes_details.html" (query "zh/collections-by-material.rq" .qid.String) }}
        {{ end }}
    </div>
</div>  
{{ end }}